@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');;

* {
  font-family: 'Spartan', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Spartan', sanas-serif;
  color: whitesmoke;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgb(29,53,87);
background: linear-gradient(180deg, rgba(29,53,87,1) 0%, rgba(67,105,158,1) 61%);
}

