@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');;

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Spartan', sanas-serif;
  color: whitesmoke;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(29,38,113);
  background: linear-gradient(180deg, rgba(29,38,113,1) 1%, rgba(195,55,100,1) 100%);
}

.general {
}

.first-section {
  display: flex;
  justify-content: space-between;
  margin: 1em 0em 1em 0em;
}

.title {
  background-color: rgba(255,255,255, .15);
  backdrop-filter: blur(20px);
  text-align: right;
  width: 60%;
  border-radius: 0em 1em 1em 0em;
}

.title h2 {
  display: flex;
  margin: 0.5em 0.5em 0.5em 0.5em;
}

.language {
  background-color: rgba(255,255,255, .15);
  backdrop-filter: blur(20px);
  margin: 0em 0em 0em 0em;
  text-align: left;
  width: 26%;
  border-radius: 1em 0em 0em 1em;
  
}

.language img {
  margin: 0.6em 0.2em 0.2em 0.6em;
  width: 2em;
  height: 2em;
}

.actual-temp {
  background-color: rgba(255,255,255, .15);
  backdrop-filter: blur(20px);
  border-radius: 1em;
  margin: 1em 1em 1em 1em;

}

.location {
  display: flex;
  justify-content: center;
}

.location h3 {
  margin: 1em 0.4em 0em 0.4em;
}

.date {
  display: flex;
  justify-content: center;
  margin: 0em;
}

.date h4 {
  margin: 0.2em 0.1em 0.5em 0.3em;
}

.temperature {
  display: flex;
  flex-direction: center;
  justify-content: center;
}

.temperature img {
  align-self: center;
  height: 6em;
  width: 6em;
}

.temperature h1 {
  margin-top: 0.9em;
  font-size: 4em;
}

.condition {
  display: flex;
  justify-content: center;
  margin: 0;
}

.condition h3 {
  margin: -2em;
}
